<section>
  <!-- <div class="example-label">FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </div>
  </div> -->

  <button mat-raised-button color="primary">Material Button</button>
  &nbsp;
  <button class="btn btn-primary">Bootstrap Button</button>
  &nbsp;
  <button class="html-btn">Html Button</button>

</section>
