.text-center {
  text-align: center;
}
.register-container {
  display: grid;
  height: 100vh;
  place-items: center;
}
#form_register {
  width: 40%;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-form-field {
  width: 100%;
}
.mt-top {
  margin-top: 30px;
}
.mt-top-2 {
  margin-top: 10px;
}

.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
